* {
  box-sizing: border-box;
}
body {
  background-image: url(/img/bg.jpg);
}

@font-face {
  font-family: Dance;
  src: url(/fonts/dance.woff2);
}

h1 {
  font-family: Dance;
  font-kerning: none;
  color: white;
}
