* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(/img/bg.webp);
  background-position: center center;
  background-color: black;
  /* background-size: cover; */
}

main img {
  width: 100%;
  display: block;
  align-self: stretch;
  object-fit: cover;
}

@font-face {
  font-family: Dance;
  src: url(/fonts/dance.woff2);
}

/* Colors */

:root {
  --primary: #f8e6dc;
  --orange: #e57144;
  --purple: #8760d4;
  --pink: #df729f;
  --darkred: #2e0a0c;
}

h1 {
  font-family: Dance;
  font-kerning: none;
  color: var(--primary);
  font-size: 96px;
  text-shadow: 8px 4px 0px #d96c45;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 60px;
}

p {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Dance", sans-serif;
}

main {
  left: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* z-index: -1; */
}

main.hide {
  left: -100%;
  transition: all 0.3s ease-in-out;
}

* {
  font-kerning: none;
}

@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }
}

.hidden {
  display: none;
}

.purple {
  background: var(--purple);
  width: 208px;
  border-radius: 35px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}
