---
import Main from "../layouts/Main.astro";
import Footer from "../components/Footer.astro";
---

<Main title="ABOUT US">
  <section class="text_content">
    <article>
      <h2>The festival</h2>
      <p>
        Being at KUNE Festival is an immersive experience that blends art,
        music, and the island’s natural beauty. The location’s secludedness adds
        to the sense of separation from everyday life. At the same time, the art
        invites us to engage in open discussions and imagine a world that can be
        different, making a positive impact over our mentality and worldview. <br
        />
        <br /> In conjunction with the art, the music creates a holistic cultural
        experience representative of the modern, young Nordic artistic community.
      </p>
    </article>
    <article>
      <h2>The location</h2>
      <p>
        The island is a decommissioned defense fort built in the 19th century. A
        unique landmark with historical value, the fort-island was recently
        renovated and repurposed into a place dedicated to young people and
        innovative cultural initiatives. It can host 2500 people, 1000 of which
        could be accommodated in the camping area. <br />
        <br /> This unique location provides a striking contrast between its historical
        purpose of aggression and its current function as a hub for a cultural celebration.
      </p>
    </article>
  </section>
  <section class="gallery">
    <div class="slider">
      <div class="slide">
        <img src="img/gallery/0005.webp" alt="people doing yoga" />
      </div>
      <div class="slide">
        <img src="img/gallery/4364.webp" alt="people dancing close to stage" />
      </div>
      <div class="slide">
        <img src="img/gallery/2698.webp" alt="sunset" />
      </div>
      <div class="slide">
        <img src="img/gallery/33.webp" alt="gallery picture" />
      </div>
      <div class="slide">
        <img src="img/gallery/0466.webp" alt="gallery picture" />
      </div>
      <div class="slide">
        <img src="img/gallery/1575.webp" alt="gallery picture" />
      </div>
      <div class="slide">
        <img src="img/gallery/3458.webp" alt="gallery picture" />
      </div>
      <div class="slide">
        <img src="img/gallery/2868.webp" alt="gallery picture" />
      </div>
    </div>
    <div class="arrows">
      <img src="img/chevron_left_cream.svg" alt="left arrow" id="prev" />
      <img src="img/chevron_right_cream.svg" alt="right arrow" id="next" />
    </div>
  </section>
  <section class="text_content">
    <article>
      <h2>The founders</h2>
      <p>
        On the more practical side of things, KUNE Festival is an NGO made up of
        over 30 passionate and dedicated individuals who work voluntarily
        year-round to create this extraordinary experience. <br /><br />Our team
        is comprised of artists, musicians, designers, writers, project
        managers, and cultural enthusiasts, all united by our shared vision and
        values.<br /><br /> We are motivated by the belief that art and culture have
        the power to create positive change in the world, and we are committed to
        working towards this goal by creating a unique platform that celebrates the
        Nordic underground talent.
      </p>
    </article>
    <article>
      <img src="img/2214.webp" alt="picture of founders" />
    </article>
  </section>
</Main>

<style>
  @media (min-width: 800px) {
    .text_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: var(--primary);
      gap: 4rem;
      padding: 5rem;
    }
  }

  h2 {
    font-kerning: none;
    font-size: 64px;
  }

  p {
    margin-top: 4rem;
    font-size: 22px;
    line-height: 30px;
  }

  .text_content article {
    max-width: 800px;
  }

  .text_content img {
    max-width: 600px;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    padding: 2rem;
  }

  .slide img {
    aspect-ratio: 1/1;
    max-width: 600px;
  }

  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 1rem;
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slide {
    flex-shrink: 0;
    width: calc(100% / 3);
    scroll-snap-align: center;
  }

  .slide:last-of-type {
    margin-right: 0;
  }

  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 90vw;
  }

  .arrows img {
    width: 17px;
    cursor: pointer;
  }

  @media (max-width: 800px) {
    .slide {
      width: calc(100% / 1);
    }

    .arrows {
      display: none;
    }
    h2 {
      font-size: 42px;
    }
    .text_content {
      background-color: var(--primary);
      padding: 2rem;
    }
    p {
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }
    article {
      margin-top: 1rem;
    }
    p {
      font-size: 18px;
    }
  }
</style>

<script>
  const slider = document.querySelector(".slider");
  const slides = document.querySelectorAll(".slide");
  const prevBtn = document.querySelector("#prev");
  const nextBtn = document.querySelector("#next");
  const sliderWidth = slider.clientWidth;
  const slideWidth = sliderWidth / 3;
  let currentIndex = 0;

  function showSlide(index) {
    slider.scrollTo({
      left: index * slideWidth,
      behavior: "smooth",
    });
  }

  function handlePrevClick() {
    if (currentIndex > 0) {
      currentIndex--;
      showSlide(currentIndex);
    }
  }

  function handleNextClick() {
    if (currentIndex < slides.length - 1) {
      currentIndex++;
      showSlide(currentIndex);
    }
  }

  prevBtn.addEventListener("mousedown", handlePrevClick);
  nextBtn.addEventListener("mousedown", handleNextClick);

  showSlide(currentIndex);
</script>
