---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Components">
  <Button href="tickets" type="darkred" text="Get Tickets" />
  <Button type="creamred" text="View Lineup" />
  <Button type="purple" text="Wednesday" />
  <Button type="transparent" text="Subscribe" />
  <Button type="creampurple" text="Friday" />
  <Button type="subscribe" text="Subscribe" />
</Main>
