---
import Button from "../components/Button.astro";
import Main from "../layouts/Main.astro";
---

<Main id="frontpage" title="KUNE FESTIVAL" type="landing">
  <div slot="after-heading">
    <Button type="darkred" text="Get Tickets" href="#" />
    <Button type="creamred" text="View Lineup" href="lineup" />
  </div>

  <section class="text_content">
    <article>
      <h2>19-23 July ungdoms0en</h2>
      <p>
        A 5-day electronic music festival that takes place on an island 30 minutes away from Copenhagen. A one-of-its-kind celebration of the Scandinavian underground culture. A playground with five
        stages, two art galleries, and multiple art installations. An intimate, holistic experience with access to a camping ground, food area, dipping spot, and unique sunsets. A true hidden gem.
      </p>
    </article>
    <article>
      <img src="img/0033.webp" alt="people at island" />
    </article>
  </section>
</Main>

<style>
  @media (min-width: 800px) {
    .text_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: var(--primary);
      gap: 4rem;
      padding: 5rem;
    }
  }

  p {
    margin-top: 4rem;
    font-size: 22px;
    line-height: 30px;
  }

  h2 {
    font-size: 36px;
  }

  article img {
    max-width: 700px;
  }

  article {
    padding: 2rem;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  @media (max-width: 800px) {
    .text_content {
      background-color: var(--primary);
    }
  }
</style>
