---
import Card from "../components/Card.astro";
import Main from "../layouts/Main.astro";
---

<Main title="LINEUP">
  <div>
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</Main>

<style>
  div {
    padding: 0 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }
</style>
