---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Main from "../layouts/Main.astro";

const data = await fetch(
  "https://mjaccmeonfywsevhklts.supabase.co/rest/v1/kunedata?image=neq.NULL&select=artistname,day,location,image",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qYWNjbWVvbmZ5d3NldmhrbHRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODg2OTgsImV4cCI6MTk5NDM2NDY5OH0.dwmg0xpH8rIwvdD7VoUqaKiM-Co02FYLlXGsdnc7nhs",
    },
  }
).then((res) => res.json());
---

<Main title="LINEUP">
  <div class="buttonNavigation">
    <Button href="/lineup" type="creampurple" text="All" />
    <Button type="creampurple" text="Wednesday" />
    <Button type="creampurple" text="Thursday" />
    <Button type="creampurple" text="Friday" />
    <Button type="creampurple" text="Saturday" />
    <Button type="creampurple" text="Sunday" />
  </div>

  <div class="artist_container">
    {
      data.map((artist) => {
        return <Card data={artist} />;
      })
    }
  </div>
</Main>

<style>
  @media (min-width: 800px) {
    .artist_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px;
    }
    .buttonNavigation {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 4rem;
    }
  }

  div {
    padding: 0 55px;
    z-index: -1;
  }
</style>

<script>
  window.addEventListener("load", addPurple);

  function addPurple() {
    console.log("hello bish");
    document
      .querySelector(".buttonNavigation")
      .firstElementChild.classList.add("purple");
  }

  const all = document.querySelectorAll(".artist-card");

  const buttons = document.querySelectorAll(".buttonNavigation a");
  buttons.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      buttons.forEach((b) => b.classList.remove("purple"));
      btn.classList.add("purple");
      const day = btn.textContent;
      all.forEach((card) => {
        card.classList.add("hidden");
        if (day === card.dataset.day) {
          card.classList.remove("hidden");
        }
      });
    });
  });
  /*  const urlParams = new URLSearchParams(window.location.search);
  const day = urlParams.get("day");

  document
    .querySelector(".buttonNavigation *")
    .addEventListener("click", loadNew);

  function loadNew() {
    console.log("hej");
    fetch(
      "https://mjaccmeonfywsevhklts.supabase.co/rest/v1/kunedata?image=neq.NULL&day=eq.Wednesday&select=artistname,day,location,image",
      {
        method: "get",
        headers: {
          "x-apikey":
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qYWNjbWVvbmZ5d3NldmhrbHRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODg2OTgsImV4cCI6MTk5NDM2NDY5OH0.dwmg0xpH8rIwvdD7VoUqaKiM-Co02FYLlXGsdnc7nhs",
        },
      }
    ).then((res) => res.json());
  } */
</script>
