---
const { text, type, href } = Astro.props;
---

<a class={type} href={href}>{text}</a>

<style>
  a {
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.15s;
  }

  /* darkred button */
  .darkred,
  .creamred:hover {
    background: var(--darkred);
    width: 208px;
    border-radius: 35px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 26px;
    font-weight: 500;
  }

  /* creamred button */
  .creamred {
    background: var(--primary);
    width: 208px;
    border: 2px solid var(--darkred);
    border-radius: 35px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkred);
    font-size: 26px;
    font-weight: 500;
  }

  /* purple button */
  .purple,
  .creampurple:hover {
    background: var(--purple);
    width: 208px;
    border-radius: 35px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* transparent button */
  .transparent {
    width: 208px;
    border-radius: 35px;
    border: 2px solid var(--primary);
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 26px;
    font-weight: 500;
  }

  /* creampurple button */
  .creampurple {
    background: var(--primary);
    width: 208px;
    border-radius: 35px;
    border: 2px solid var(--purple);
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* footer subscribe button */
  .subscribe {
    background: var(--purple);
    width: 150px;
    border-radius: 35px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
  }

  @media (max-width: 550px) {
    .subscribe {
      background-color: transparent;
      width: 150px;
      border-radius: 35px;
      border: 2px solid var(--primary);
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--primary);
      font-size: 18px;
      font-weight: 500;
    }

    .darkred,
    .creamred:hover,
    .creamred,
    .purple,
    .creampurple,
    .creampurple:hover {
      width: 166px;
      border-radius: 35px;
      height: 44px;
      font-size: 21px;
    }
  }
</style>

<script></script>
