---
---

<div>
  <img src="/img/slet-mig.png" alt="artist" />
  <p>stage name</p>
  <h3>artist name</h3>
</div>

<style>
  div {
    background-color: var(--purple);
    border-radius: 19px;
    display: flex;

    position: relative;
    padding: 15px 33px 30px 104px;
  }

  p {
    writing-mode: vertical-rl;
    font-size: 30px;
    font-weight: 600;
    color: black;
  }

  h3 {
    font-family: Dance;
    font-kerning: none;
    color: var(--primary);
    font-size: 40px;
    text-shadow: 4px 3px 0px #d96c45;
    align-self: flex-end;
    position: absolute;
    bottom: -26px;
    left: 20px;
  }

  img {
    padding-right: 36px;
    aspect-ratio: 1/1;
  }
</style>
