---
import Button from "./Button.astro";
---

<footer>
  <div class="grid1-1">
    <div>
      <h2>Contact</h2>
      <p>email@kune.dk</p>
      <p>+45 11 22 33 44</p>
      <p>someplace in CPH</p>
      <p>&copy; KUNE 2023</p>
    </div>
    <div class="emailsub">
      <p class="newsletter">Subscribe to our newsletter</p>
      <input
        class="input1"
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
      />
      <Button type="subscribe" text="Subscribe" />
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 2rem;
    background-image: url(img/bg.jpg);
  }
  h2 {
    padding: 1.5%;
  }
  p {
    padding: 1.5%;
  }

  .input2 {
    padding: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 30%;
    color: #f8e6dc;
    background-color: #8760d4;

    border-color: transparent;
  }
  .input1 {
    margin-top: 0%;
    padding: 1rem;
    border-radius: 16px;
  }

  .grid1-1 {
    display: grid;
    color: #f8e6dc;
    grid-template-columns: 1fr 1fr;
  }
  .emailsub {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    float: right;
  }
</style>
