---
import Button from "./Button.astro";
---

<footer>
  <div>
    <h2>Contact</h2>
    <p>email@kune.dk</p>
    <p>+45 11 22 33 44</p>
    <p>someplace in CPH</p>
    <p>&copy; KUNE 2023</p>
  </div>
  <div class="emailsub">
    <p class="newsletter">Subscribe to our newsletter</p>
    <input class="input1" type="email" id="email" name="email" placeholder="E-mail" />
    <Button type="subscribe" text="Subscribe" />
  </div>
</footer>

<style>
  footer.hide {
    left: -100%;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  footer {
    display: flex;
    justify-content: space-between;
    color: #f8e6dc;
    padding: 2rem;
  }
  h2 {
    padding: 15px;
  }
  p {
    padding: 10px;
  }

  .input2 {
    padding: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 30%;
    color: #f8e6dc;
    background-color: #8760d4;

    border-color: transparent;
  }
  .input1 {
    margin-top: 0%;
    padding: 1rem;
    border-radius: 16px;
  }

  .emailsub {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .newsletter {
    font-weight: 700;
  }
</style>
