---
import Button from "./Button.astro";
---

<footer>
  <div class="contact">
    <div class="emailsub cont">
      <h3 class="newsletter">Subscribe to our newsletter</h3>
      <input
        class="input1"
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
      />
      <div class="centerButton">
        <Button type="subscribe" text="Subscribe" />
      </div>
    </div>
    <div class="cont">
      <h3>Contact</h3>
      <p>email@kune.dk</p>
      <p>+45 11 22 33 44</p>
      <p>someplace in CPH</p>
    </div>
  </div>
  <div class="some">
    <p>&copy; KUNE 2023</p>
    <div class="media_icons">
      <a href="#"><img src="/img/facebook-svgrepo-com.svg" alt="facebook" /></a>
      <a href="#"
        ><img src="/img/instagram-svgrepo-com.svg" alt="instagram" /></a
      >
      <a href="#"><img src="/img/tiktok-svgrepo-com.svg" alt="tiktok" /></a>
      <a href="#"><img src="/img/twitter-svgrepo-com.svg" alt="twitter" /></a>
    </div>
  </div>
</footer>

<style>
  footer.hide {
    left: -100%;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  footer {
    color: var(--primary);
  }

  h3 {
    padding: 15px;
    font-family: "Montserrat", sans-serif;
  }
  p {
    padding: 10px;
  }

  .input1 {
    border: none;
    margin-top: 0%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
  }

  .emailsub {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  img {
    max-width: 40px;
  }

  .some {
    display: flex;
    justify-content: space-between;
  }

  .media_icons {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 550px) {
    .emailsub {
      order: 1;
    }
    footer {
      padding: 2rem;
    }
    .contact {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 550px) {
    .emailsub {
      background-image: linear-gradient(#802ced, #f971a9);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    footer {
      margin-bottom: 110px;
    }
    .some,
    .cont {
      padding: 20px;
    }

    .input1 {
      width: 225px;
    }

    .centerButton {
      display: flex;
      justify-content: center;
    }
  }
</style>
