---
---

<header>
  <a href="/"><img src="/img/logo.svg" alt="logo" /></a>
  <ul>
    <li><a href="lineup">LINEUP</a></li>
    <li><a href="#">TICKETS</a></li>
    <li><a href="#">PROGRAM</a></li>
    <li><a href="#">SHOP</a></li>
    <li><a href="#">INFO</a></li>
    <li><a href="#">JOIN US!</a></li>
    <li><a href="about">ABOUT US</a></li>
  </ul>
</header>

<style>
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-family: Dance;
    font-kerning: none;
    color: var(--primary);
    font-size: 65px;
    text-shadow: 8px 4px 0px #d96c45;
  }

  a:hover {
    color: var(--purple);
  }
  header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
  }

  img {
    width: 90px;
  }
</style>
