---
---

<header>
  <a href="/"><img src="/img/logo.svg" alt="logo" /></a>
  <ul class="navmenu">
    <li><a href="/lineup">LINEUP</a></li>
    <li><a href="#">TICKETS</a></li>
    <li><a href="#">PROGRAM</a></li>
    <li><a href="#">SHOP</a></li>
    <li><a href="#">INFO</a></li>
    <li><a href="#">JOIN US!</a></li>
    <li><a href="/about">ABOUT US</a></li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>

<style>
  ul {
    list-style: none;
    z-index: 1;
  }

  a {
    text-decoration: none;
    font-family: Dance;
    font-kerning: none;
    color: var(--primary);
    font-size: 65px;
    text-shadow: 8px 4px 0px #d96c45;
  }
  li {
    margin: 18px;
  }

  a:hover {
    color: var(--purple);
  }
  header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  img {
    width: 90px;
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(20px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  .navmenu {
    position: fixed;
    right: -100%;
    top: 120px;
    gap: 0;
    flex-direction: column;

    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
  }

  .navitem {
    margin: 16px 0;
  }

  .navmenu.active {
    right: 0;
  }

  .bar {
    display: block;
    width: 16px;
    height: 3.5px;
    margin: 15px auto;

    transition: all 0.3s ease-in-out;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-radius: 10px;

    box-shadow: #d96c45 1px 1px;
  }

  @media (max-width: 450px) {
    header {
      background-color: var(--primary);
      padding: 15px 20px 5px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
      border-top: 3px #d96c45 solid;
    }
    .bar {
      background-color: #d96c45;
      width: 10px;
      height: 3px;
      margin: 15px auto;
    }
    img {
      width: 60px;
      padding-top: 5px;
    }
    .navmenu {
      top: 8%;
    }
    a {
      font-size: 46px;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".navmenu");
  const main = document.querySelector("main");
  const footer = document.querySelector("footer");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
    main.classList.toggle("hide");
    footer.classList.toggle("hide");
  });

  document.querySelectorAll(".navlink").forEach((n) =>
    n.addEventListener("click", () => {
      hamburger.classList.remove("active");
      navMenu.classList.remove("active");
      main.classList.remove("hide");
      footer.classList.remove("hide");
    })
  );
</script>
